doctype xml
OpenSearchDescription(xmlns="http://a9.com/-/spec/opensearch/1.1/")
  ShortName Haz Responsiv.es
  Description Use responsiv.es to analyze your responsive CSS.
  Tags css responsive
  Contact beaucollins@gmail.com
  Url(type:"text/html",template:"/?{searchTerms}")